<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/icons.css">
<link rel="stylesheet" href="/static/style.css">
<script src="/static/icons.js"></script>
<script src="/static/program.js"></script>

<head>
</head>
<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
<body>
    <div style="height: 20px"></div>
    <div id="12345678-1234-1234-children" class="project">
    </div>

</body>

<script>

fetch("http://localhost:8000/api/get/1?token=abc123")
.then(res => res.json())
.then(out => { tmp(out); })
.catch(err => { throw err; });


function tmp(data) {
    var program = new Program("root");
    console.log(data)
    program.updateRecords(data['records']);
}

</script>

</html>
